.page-container {

	margin-top: 0;

	.documentation-content {
	
		margin-top:10px;

		.hljs {
			background:transparent !important; // hide the background 
		}

	}

	.documentation-footer {
		margin-top:40px;
		padding-top:20px;
		width: 100%;
		border-top:1px solid #efefef;

		display:none;

		&.visible {
			display: block;
		}

	}


}
