$black: #1a1a18;
$light-black: #3b3b39;
$blue-black: #010a14;
$white: #fff;

$grey: #f5f5f5;
$grey2: #c5c6c6;
$grey3: #9c9d9d;
$grey4: #565655;

$pastel-green: #d1e5d5;
$pastel-blue: #84c6c4;
$pastel-pink: #fccab4;
$pastel-mustard: #E8E99B;

$line-color: #8bc5c3;

$link-color: #84c6c4;

$transition-time: .125s;

$border-radius: 7px;
